.button-1 {
    height: var(--button-height-1);
    color: var(--color-grey-6);
    font-size: var(--text-2);
    font-weight: var(--font-weight-2);
    line-height: var(--line-height-buttons);
    background-color: var(--color-brand-1);
    border: none;
    border-radius: var(--radius-default);
    padding: var(--padding-bt-1);
    cursor: pointer;
}

.button-1:hover {
    background-color: var(--color-brand-2);
}

.button-2 {
    height: var(--button-height-2);
    color: var(--color-grey-6);
    font-size: var(--text-2);
    font-weight: var(--font-weight-2);
    line-height: var(--line-height-buttons);
    background-color: var(--color-brand-1);
    border: none;
    border-radius: var(--radius-default);
    padding: var(--padding-bt-2);
    cursor: pointer;
}

.button-2:hover {
    background-color: var(--color-brand-2);
}

.trash-button {
    width: var(--button-height-2);
    height: var(--button-height-2);
    background-color: var(--color-grey-5);
    border: none;
    border-radius: var(--radius-default);
    background-image: url(../assets/img/trash.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.trash-button:hover {
    background-color: var(--color-grey-3);
}
