.container {
    width: 87.5rem;
    max-width: 90%;
  
}

.container-header {
    width: 68.75rem;
}
  
main {
    margin: 0 auto;
    background-color: var(--color-grey-4);
}

aside {
    width: 33.875rem;
    border-radius: var(--radius-default);
}



















